table{
margin-right: auto;
text-align: left;
border-collapse: collapse;
border-spacing: 0px;
border-spacing: 0px;
}

tr {
color: #ffffff;
background-color: blueviolet;
}

body{
background-image: url("../images/NFL-Team-Logos.jpeg"); 
background-color: rgb(126, 110, 56); 
}