.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.body-wideMargin {
  margin: 50px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}
button{
  padding:5px;
}

ol {

  list-style-type: decimal-leading-zero;
}

ol ol {
  margin-left: 0.9em;
}

ol li {

  line-height: 1.5;
}


h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}


menu {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif;
}
p, div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
#bg-pg1{
  background-image: url(../images/titanfall2-background.png);
  height: 880;
}
#bg-pg2{
  background-image: url(../images/payday2-background2.jpeg);
  height: 880;
}
body {
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:480px; 

}

#bgg-pg3{
  background-image: url('https://poggers.net/tenor.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
   
}


#Foot{
  background-color: gray;
  bottom: 0px;
}


