body {
    margin: 0;
    font-family: Roboto;
    font-style: roboto;
    background: rgb(63, 199, 245);
    background: linear-gradient(45deg, rgba(63, 199, 245, 1) 5%, rgba(69, 253, 29, 1) 82%);
    font-size: medium;
}

.Margin2 {
    margin-top: 50px;
    margin-right: 400px;
    margin-bottom: 0px; 
    margin-left: 400px;
}

.Margin {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 0px; 
    margin-left: 15px;
}

.Color {
    color: white;
    text-shadow: 4px 3px 4px #000000;
    font-family: roboto;
    font-size: medium;
}

.TEXT {
    font-family: Roboto;
}

.TEXTCARD {
    color: black;
    font-family: Roboto;
    font-size: small;
}

#NEXT {
    font-style: italic;
}

#TOP {
    font-style: italic;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 10px;
    }
}

.CARDHOVER {
    transition: box-shadow .3s;
    width: 450px;
    height: 500px;
    margin: 29.5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
}

.CARDHOVER:hover {
    box-shadow: 10px 10px 20px rgba(25, 50, 50);
}

/* NEW CODE STARTS HERE_TYLERB */

table {
    width: 100%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    margin: 10px;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
}

#t01 tr:nth-child(odd) {
    background-color: #fff;
}

#t01 th {
    background-color: black;
    color: white;
}

.TABLE {
    color: black;
    font-size: medium;
    font-size: medium;
    font-family: Roboto;
    padding: 15px;
    text-align: center;
}

.JUMBO {
    font-size: xx-large;
    color: black;
    font-family: Roboto;
}

.tab {
    margin-left: 40px;
}

.HEAD {
    color: white;
    text-shadow: 4px 3px 4px #000000;
    font-family: Roboto;
}

.ONWHITE {
    color: black;
    font-family: Roboto;
}

/*TIME*/

.main-timeline5 {
    overflow: hidden;
    position: relative
}

.main-timeline5 .timeline {
    position: relative;
    margin-top: -79px
}

.main-timeline5 .timeline:first-child {
    margin-top: 0
}

.main-timeline5 .timeline-icon, .main-timeline5 .year {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline5 .timeline:after, .main-timeline5 .timeline:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-timeline5 .timeline:before {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: -8px 0 5px -5px rgba(0, 0, 0, .5) inset;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.main-timeline5 .timeline-icon {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #f44556;
    border-right-color: #f44556;
    z-index: 1;
    transform: rotate(45deg)
}

.main-timeline5 .year {
    display: block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    font-size: 30px;
    font-weight: 700;
    color: #f44556;
    text-align: center;
    transform: rotate(-45deg)
}

.main-timeline5 .timeline-content {
    width: 35%;
    float: right;
    background: #f44556;
    padding: 30px 20px;
    margin: 50px 0;
    z-index: 1;
    position: relative
}

.main-timeline5 .timeline-content:before {
    content: "";
    width: 20%;
    height: 15px;
    background: #f44556;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%)
}

.main-timeline5 .title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px
}

.main-timeline5 .description {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0
}

.main-timeline5 .timeline:nth-child(2n):before {
    box-shadow: 8px 0 5px -5px rgba(0, 0, 0, .5) inset
}

.main-timeline5 .timeline:nth-child(2n) .timeline-icon {
    transform: rotate(-135deg);
    border-top-color: #e97e2e;
    border-right-color: #e97e2e
}

.main-timeline5 .timeline:nth-child(2n) .year {
    transform: rotate(135deg);
    color: #e97e2e
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content {
    float: left
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
    left: auto;
    right: -20%
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content, .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
    background: #e97e2e
}

.main-timeline5 .timeline:nth-child(3n) .timeline-icon {
    border-top-color: #13afae;
    border-right-color: #13afae
}

.main-timeline5 .timeline:nth-child(3n) .year {
    color: #13afae
}

.main-timeline5 .timeline:nth-child(3n) .timeline-content, .main-timeline5 .timeline:nth-child(3n) .timeline-content:before {
    background: #13afae
}

.main-timeline5 .timeline:nth-child(4n) .timeline-icon {
    border-top-color: #105572;
    border-right-color: #105572
}

.main-timeline5 .timeline:nth-child(4n) .year {
    color: #105572
}

.main-timeline5 .timeline:nth-child(4n) .timeline-content, .main-timeline5 .timeline:nth-child(4n) .timeline-content:before {
    background: #105572
}

@media only screen and (max-width:1199px) {
    .main-timeline5 .timeline {
        margin-top: -103px
    }
    .main-timeline5 .timeline-content:before {
        left: -18%
    }
    .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
        right: -18%
    }
}

@media only screen and (max-width:990px) {
    .main-timeline5 .timeline {
        margin-top: -127px
    }
    .main-timeline5 .timeline-content:before {
        left: -2%
    }
    .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
        right: -2%
    }
}

@media only screen and (max-width:767px) {
    .main-timeline5 .timeline {
        margin-top: 0;
        overflow: hidden
    }
    .main-timeline5 .timeline:before, .main-timeline5 .timeline:nth-child(2n):before {
        box-shadow: none
    }
    .main-timeline5 .timeline-icon, .main-timeline5 .timeline:nth-child(2n) .timeline-icon {
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        transform: rotate(135deg)
    }
    .main-timeline5 .timeline:nth-child(2n) .year, .main-timeline5 .year {
        transform: rotate(-135deg)
    }
    .main-timeline5 .timeline-content, .main-timeline5 .timeline:nth-child(2n) .timeline-content {
        width: 100%;
        float: none;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto
    }
    .main-timeline5 .timeline-content:before, .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 0)
    }
}