.body-wideMargin {
  margin: 50px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}
button{
  padding:5px;
}

ol {

  list-style-type: decimal-leading-zero;
}

ol ol {
  margin-left: 0.9em;
}

ol li {

  line-height: 1.5;
}


h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.header {
  padding: 60px;
  text-align: center;
  background: #bc1a1a;
  color: purple;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

link a:hover {
  background-color: orange;
}

li {
  display: inline;
}

.bottom-img{
  position: fixed;
  bottom: 0;
}

.bottom-right-img{
  position: fixed;
  bottom: 0;
  height: 150px; width: 150px;
}


